.container  {
    margin-top: 25px;
    width: 100%;
    background: #efefef; 
    border-radius: 8px;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}
.center {
    text-align: center;
}




